[Desktop Entry]
Type=Application
Exec=/usr/bin/SimplePictureTool
Name=SimplePictureTool
Version=0.0.2
Comment=A simple GUI that using the ImageMagick software, for batch processing of .PNG or .JPG image files in a simple way.
Terminal=false
Keywords=background;wallpaper;bing;
Icon=xorg
Categories=Graphics;
