[Desktop Entry]
Type=Application
Exec=/usr/bin/SimplePictureTool
Name=SimplePictureTool
Comment=A simple GUI that using the ImageMagick software, for batch processing of .PNG or .JPG image files in a simple way.
Terminal=false
Icon=xorg
Categories=Graphics;
